@media (min-width:768px) {
    .navbar-center {
        float: none;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 50%;
    }
    .navbar-nav > li > a {
        outline: none;
        padding-bottom: 15px;
    }
}
@media (min-width:768px) {
    .navbar-center {
        left: 4.7em;
    }
}
@media (min-width:992px) {
    .navbar-center {
        left: 10.46em;
    }
}
@media (min-width:1200px) {
    .navbar-center {
        left: 15.5em;
    }
}
@media (max-width:767px) {
    .nav-title {
        margin: 0;
        padding-left: 5em;
        padding-top: 1.3em;
        width: 40%;
    }
}
@media (min-width:768px) {
    .nav-title {
        display: none;
    }
}
h5.navbar-brand {
    margin: 0;
}
.fixed-header {
    background: linear-gradient(to right,rgba(255,153,0,1) 0%,rgba(255,153,0,1) 12%,rgba(0,88,147,1) 35%,rgba(0,88,147,1) 45%,rgba(119,196,42,1) 86%,rgba(119,196,42,1) 100%);
    background-attachment: initial;
    background-clip: initial;
    background-color: initial;
    background-image: linear-gradient(to right,rgb(255,153,0) 0%,rgb(255,153,0) 12%,rgb(0,88,147) 35%,rgb(0,88,147) 45%,rgb(119,196,42) 86%,rgb(119,196,42) 100%);
    background-origin: initial;   
    background-size: initial;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    h1, h2, h3, h4, h5 {
        color: #fff;
    }
}
.navbar-fixed-top {
    top: 40px;
}
.navbar-background-gray {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e0e0e0;
    .navbar-toggle {
        border-color: #b4b4b4;
        .icon-bar {
            background-color: #333;
        }
    }
}
.face-profile {
    border-radius: 10em;
    height: 12rem;
    width: 12rem;
}
.flow-right {
    float: right;
}
.flow-left {
    float: left;
}
.hide {
    display: none;
}
.social-nav {
    list-style: none;
    padding: 0;
    a {
        text-decoration: none;
    }
}
.social-nav::after {
    clear: both;
    content: " ";
    display: table;
}
ul, ol {
    clear: both;
    margin-top: 0;
}
.social-nav-item {
    display: block;
    float: left;
    margin-right: 0.5em;
    max-width: 30%;
    min-width: 12%;
}
.avatar-intro::after {
    clear: both;
    content: " ";
    display: table;
}
.avatar-intro {
    width: 80%;
    img {
        margin-right: 12px;
    }
}
.font-18 {
    font-size: 18px;
    line-height: 26px;
}
.font-20 {
    font-size: 20px;
}
.font-22 {
    font-size: 22px;
}
.col-container {
    padding-left: 20px;
    padding-right: 20px;
    header {
        h2:first-of-type, h3:first-of-type, h4:first-of-type, h5:first-of-type, h6:first-of-type {
            margin-top: 0;
        }
    }
}
.pad-left-0 {
    padding-left: 0;
}
.pad-right-0 {
    padding-left: 0;
}
.container {
    padding-top: 110px;
}